/**
 * ICO图标样式
 * 小乙哥
 * QQ：171787869
 * http://www.xyg.cool
 */

.ico{background-image: url(ico.png);width: 24px;height: 24px;margin: 1px;float: left;}

.ico-ai{background-position: 0 0;background-repeat: no-repeat;}
.ico-android{background-position: -24px 0;background-repeat: no-repeat;}
.ico-apple{background-position: -48px 0;background-repeat: no-repeat;}
.ico-audio{background-position: -72px 0;background-repeat: no-repeat;}
.ico-bt{background-position: -96px 0;background-repeat: no-repeat;}

.ico-cad{background-position: 0 -24px;background-repeat: no-repeat;}
.ico-code{background-position: -24px -24px;background-repeat: no-repeat;}
.ico-doc{background-position: -48px -24px;background-repeat: no-repeat;}
.ico-eps{background-position: -72px -24px;background-repeat: no-repeat;}
.ico-excel{background-position: -96px -24px;background-repeat: no-repeat;}

.ico-exe{background-position: 0 -48px;background-repeat: no-repeat;}
.ico-flash{background-position: -24px -48px;background-repeat: no-repeat;}
.ico-folder{background-position: -48px -48px;background-repeat: no-repeat;}
.ico-font{background-position: -72px -48px;background-repeat: no-repeat;}
.ico-image{background-position: -96px -48px;background-repeat: no-repeat;}

.ico-keynote{background-position: 0 -72px;background-repeat: no-repeat;}
.ico-misc{background-position: -24px -72px;background-repeat: no-repeat;}
.ico-pdf{background-position: -48px -72px;background-repeat: no-repeat;}
.ico-ppt{background-position: -72px -72px;background-repeat: no-repeat;}
.ico-ps{background-position: -96px -72px;background-repeat: no-repeat;}

.ico-txt{background-position: 0 -96px;background-repeat: no-repeat;}
.ico-video{background-position: -24px -96px;background-repeat: no-repeat;}
.ico-web{background-position: -48px -96px;background-repeat: no-repeat;}
.ico-word{background-position: -72px -96px;background-repeat: no-repeat;}
.ico-xmind{background-position: -96px -96px;background-repeat: no-repeat;}

.ico-rar{background-position: 0 -120px;background-repeat: no-repeat;}
